html{
	overflow-y:scroll;
}

body {
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
}

p{
	text-align: left !important;
}

table{

	display: block;

	overflow-x: auto;

}

table td,th{

	padding: 6px !important;

}

table tr:first-child {

	border-bottom: 1px solid black;

}

.datatable tr.net:nth-of-type(8n+2){
	background-color: #bbb;
}
.datatable tr.net:nth-of-type(8n+3){
	background-color: #ccc;
}

.datatable tr.sub:nth-child(2n){
	background-color: #eee;
}
.datatable tr.sub:nth-child(2n+1){
	background-color: #fff;
}
/*.datatable tr.sub:nth-child(3n+){
	background-color: #eee;
}



.btn{
	margin-bottom: 20px !important;
}


.comp{
	width:9%;
}
