html{
	overflow-y:scroll;
}

body {
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
}

p{
	text-align: left !important;
}

table td,th{

	padding: 5px;

	display: block;

	overflow-x: auto;

}

table tr:first-child {

	border-bottom: 1px solid black;

}

.datatable tr.net{
	background-color: #ccc;
}

.datatable tr.sub:nth-child(3n){
	background-color: #eee;
}
.datatable tr.sub:nth-child(3n+1){
	background-color: #fff;
}
.datatable tr.sub:nth-child(3n+2){
	background-color: #eee;
}


.btn{
	margin-bottom: 20px !important;
}


.comp{
	width:9%;
}
